@model EditUserViewModel

@{ 
    ViewData["Title"] = "Edit User";
}

    <form asp-controller="UserManagement" asp-action="Edit" method="post">
        <input hidden asp-for="ID" />

        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Surname"></label>
            <input asp-for="Surname" />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="DateOfBirth"></label>
            <input asp-for="DateOfBirth" />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>

        <!-- Don't allow moderator to edit roles-->
        @if (User.HasClaim(ClaimTypes.Role, RoleEnum.Admin.ToString()))
        {
            <div>
                <label asp-for="RoleID"></label>
                <select asp-for="RoleID" asp-items="@Html.GetEnumSelectList<RoleEnum>()">
                    <option value="">Please select option</option>
                </select>
            </div>
        }
        else
        {
            <input hidden asp-for="RoleID" />
        }

        <!-- Don't allow moderator to edit if user is deleted-->
        @if (User.HasClaim(ClaimTypes.Role, RoleEnum.Admin.ToString()))
        {
            <div>
                <label asp-for="IsDeleted"></label>
                <input asp-for="IsDeleted" class="" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
        }
        else
        {
            <input hidden asp-for="IsDeleted" />
        }


        <div class="text-danger" asp-validation-summary="All"></div>
        <div>
            <button class="btn btn-primary" type="submit">Update</button>
        </div>

    </form>