@model ContactPerson

@{
    ViewData["Title"] = "Create contact person";
}

    <form method="post" asp-controller="conctactpeople" asp-action="create">
        <input hidden asp-for="CompanyID" />
        <input hidden asp-for="UserWhoAddedID" />

        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="Surname"></label>
            <input asp-for="Surname" />
            <span asp-validation-for="Surname"></span>
        </div>
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="TelephoneNum"></label>
            <input asp-for="TelephoneNum" />
            <span asp-validation-for="TelephoneNum"></span>
        </div>
        <div>
            <label asp-for="Position"></label>
            <input asp-for="Position" />
            <span asp-validation-for="Position"></span>
        </div>


        <!-- Summary -->

        <div class="text-danger" asp-validation-summary="All"></div>
        <div>
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
    </form>